@model PrzeplywDokumentowWFirmie.Models.Firm

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4>Firm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            <span>Is located abroad?</span>
        </dt>

        <dd>
            @Model.IsLocatedAbroad()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FirmId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
