@model IEnumerable<PrzeplywDokumentowWFirmie.Models.Commodity>

@{
    ViewBag.Title = "Index";
}

<h2>Commodities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConsumableItem.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warehouse.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            Cost per item
        </th>
        <th>
            Total value
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumableItem.Name)
                @Html.DisplayFor(modelItem => item.ElectronicItem.Name)
                @Html.DisplayFor(modelItem => item.FurnitureItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            
            @if(item.ConsumableItem != null)
            {
                <td>
                    @item.ConsumableItem.Price
                </td>
                <td>
                    @(item.ConsumableItem.Price*item.Quantity)
                </td>
            }
            @if(item.ElectronicItem != null)
            {
                <td>
                    @item.ElectronicItem.Price
                </td>
                <td>
                    @(item.ElectronicItem.Price*item.Quantity)
                </td>
            }
            @if(item.FurnitureItem != null)
            {
                <td>
                    @item.FurnitureItem.Price
                </td>
                <td>
                    @(item.FurnitureItem.Price*item.Quantity)
                </td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CommodityId }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.CommodityId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.CommodityId })
            </td>
        </tr>
    }

</table>
